{% if caddy_global_options | length > 0 %}
{
{% for option in caddy_global_options %}
    {{ option }}
{% endfor %}
}

{% endif %}
{% for site in caddy_sites %}
{% if site.comment is defined %}
# {{ site.comment }}
{% endif %}
{% set site_schemes = site.schemes | default([site.scheme | default('http')]) %}
{% for scheme in site_schemes %}{{ scheme }}://{{ site.hostname }}{% if not loop.last %}, {% endif %}{% endfor %} {
{% if site.redirect_root_to is defined %}
    @root path /
    redir @root {{ site.redirect_root_to }}
{% endif %}
    reverse_proxy {{ site.upstream }}
{% if site.tls_internal | default(false) %}
    tls internal
{% endif %}
}

{% endfor %}
