WEBPASSWORD: {{ WEBPASSWORD }}
PIHOLE_INTERFACE={{ PIHOLE_INTERFACE }}
IPV4_ADDRESS={{ IPV4_ADDRESS }}
IPV6_ADDRESS={{ IPV6_ADDRESS }}
QUERY_LOGGING={{ QUERY_LOGGING }}
INSTALL_WEB={{ INSTALL_WEB }}
DNSMASQ_LISTENING={{ DNSMASQ_LISTENING }}
PIHOLE_DNS_1={{ PIHOLE_DNS_1 }}

DNS_FQDN_REQUIRED={{ DNS_FQDN_REQUIRED }}
DNS_BOGUS_PRIV= {{ DNS_BOGUS_PRIV }}
DNSSEC={{ DNSSEC }}
TEMPERATUREUNIT={{ TEMPERATUREUNIT }}
WEBUIBOXEDLAYOUT={{ WEBUIBOXEDLAYOUT }}